body.home{
  height: 100%;
  background-color: #2F80ED;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 48px;
    text-align: center; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.link{
  text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link.logo{
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 48px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-column {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column; 
     align-items: center;
}

