body.home{
  height: 100%;
  background-color: #2F80ED;
}

.App {
  text-align: center;
}

*:focus {
    outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
    font-family: Roboto;
    color: #FFFFFF;
    text-align: center; 
    font-weight: lighter;
}

h2 {
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.link{
  text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link.logo{
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 55px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container.portal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.login-column {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
}

hr {
  width: 80%;
}