input{
      margin-bottom: 15px;
      font-size: 20px;
      font-family:  Roboto;
      font-weight: lighter;
      border-style:  solid;

}
input.login {
      background-color:  white;
      color: #828282;
      height: 68px;
      width: 300px;
      border-radius:  20px;
      font-size:  35px;
      text-align: center;
}

input.submit {
      background-color: #2F80ED;
      color: white;
      height: 75px;
      width: 267px;
      border-radius: 45px;
      border-color:white;
      font-size: 25px;
      fill: solid;
      margin-top: 50px; 
}


button {
      color:white;
      font-family: Roboto;
      font-weight: lighter;
   
}

button.nav{
      background-color: #2F80ED;
      border: 1px solid white;
      color:white; 
      font-size: 25px;
      height: 69px;
      flex-grow: 1;
      width: 100%;
   
}

.selected button.nav {
      background-color: #3B5E8F;
}
 

button.home {
      margin-bottom: 15px;
      background-color: white;
      color: #4F4F4F;
      height: 92px;
      width: 274px;
      border-radius: 20px;
      border-style: solid;
      font-Size: 35px;
      

}



.navLink {
      flex-grow: 1;
}