.navIcon{
    padding: 5px;
}
.homeNavIcon{
    width: 22px;
    height: 22px;
}

.courseNavIcon{
    width: 28px;
    height: 22px;
}
.teachNavIcon{
    width: 51px;
    height: 22px;
}
.profileNavIcon{
    width: 23px;
    height: 22px;
}
.addNavIcon{
    width: 22px;
    height: 22px;
}