body.portal{
    height: 100%;
    color: white;
}

.signOut{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}
.footer{
    display: flex;
    position: fixed;
    bottom:0px;
    width:100%;
}