body.portal{
    height: 100%;
    background-color: white;
}

.portalContainer{
    width: 100%;
}

.blueStripe{
    background-color: #2F80ED;
    height: 15px;
    width: 100%;
    margin-top: -15px;
}

.portalList{
    background-color: white;
    border:1px dotted black;
    padding: 0;
    display:table;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
}

.portalList ul li {
    display:table-cell;

}

.portalList li:nth-child(even) { 
    background: white;
    opacity: 1;
    height: 45px;
     
}

.portalList li:nth-child(odd) { 
    background: #56CCF2;
    opacity: 0.25;
    height: 45px;
     
}

.columnHeader{
    display: flex;
    justify-content: space-between;
    height: 30px;
    color: black;
}



.header{
    display: flex;
    top: 0px;
    width: 100%;
}

h1{
    color: black;
    /* font-weight: bold; */
    font-size: 42px;
    margin-left: 34px;
    margin-top: 24px;
    
}
.signOut{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    flex-grow: 1;
    /* margin-right: -2em; */
}
.footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
}